.row
    .small-12.small-centered.columns.container

        %h1 3D Modeling

        .label-black
            %b
                Album: Character (The Kid from
                = link_to("Bastion", "http://store.steampowered.com/app/107100/", :target => "_blank")
                )
            %p Software: Maya

        .pad-10
        %ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2.clearing-thumbs(data-clearing)
            - paths = ["https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/kid_front.jpg", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/kid_side.jpg", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/kid_top.jpg", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/kid_back.jpg", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/kid_textured_half.jpg", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/bastion/mudbox_shot.JPG"]

            - paths.each do |path|
                %li
                    %a.th
                        = image_tag("#{path}")

        .pad-10
        .pad-10
        .label-black
            %b Album: Fantasy mountains
            %p Software: Maya
        .pad-10
        %ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2.clearing-thumbs(data-clearing)

            - featureImage = "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/mountains/prepwork_45.jpg"
            - paths = []
            %li
                %a.th
                    = image_tag("#{featureImage}");
                / %ul.clearing-thumbs.clearing-feature(data-clearing)
                /     %li.clearing-featured-img
                /         %a.th
                /             = image_tag("#{featureImage}");

                /     - paths.each do |path|
                /         %li
                /             %a.th
                /                 = image_tag("#{path}")

            %li
                .flex-video
                    %iframe(width="560" height="315" src="https://www.youtube.com/embed/gmIzWDIIlGc?&showinfo=0" frameborder="0" allowfullscreen)

        .pad-10
        .pad-10
        .label-black
            %b Album: Batmobile
            %p Software: Maya

        .pad-10
        %ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2.clearing-thumbs(data-clearing)

            - paths = ["https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_2.png", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan.png", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_close.png", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_black.png"]
            / %li
            /     %ul.clearing-thumbs.clearing-feature(data-clearing)
            /         %li.clearing-featured-img
            /             %a.th
            /                 = image_tag("#{featureImage}");

            /         - paths.each do |path|
            /             %li
            /                 %a.th
            /                     = image_tag("#{path}")

            - paths.each do |path|
                %li
                    %a.th
                        = image_tag("#{path}")



