.row
    .small-10.small-centered.columns.container

        %h1 3D Modeling

        %ul.small-block-grid-2

            - featureImage = "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_2.png"
            - paths = ["https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan.png", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_close.png", "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_black.png"]
            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            = image_tag("#{featureImage}");

                    - paths.each do |path|
                        %li
                            %a.th
                                = image_tag("#{path}")

                %b Album: Batmobile (Model: Tumbler)
                %p Software: Maya

            - featureImage = "https://s3-us-west-2.amazonaws.com/trle/3d_modeling/mountains/front_view.jpg"
            - paths = ["https://s3-us-west-2.amazonaws.com/trle/3d_modeling/mountains/top_down_1.jpg"]
            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            = image_tag("#{featureImage}");

                    - paths.each do |path|
                        %li
                            %a.th
                                = image_tag("#{path}")

                %b Album: Living mountains
                %p Software: Maya
