.row
    .small-12.small-centered.columns.container
        %h1 Drawing

        %p
            Here is my penciling.

        %ul.small-block-grid-2

            - src = "drawing/sketches/"
            - files = ["WhiteBoy.jpg", "AsianBoy.jpg","NobleWoman.jpg","BoyLiquid.jpg","MedievalBoy.jpg","SelfPortrait.jpg","Man1.jpg","Woman1.jpg","MuscleStudy1.jpg","Girl1.jpg","Feet.jpg","FacialFeatures.jpg","CyclopeAbstract.jpg"]
            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            = image_tag("#{src}WomanGhost.jpg");

                    - files.each do |i|
                        %li
                            %a.th
                                = image_tag("#{src}#{i}")

                %b Album: Sketches
            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Sunset_raw.jpg")
                    %li.clearing-featured-img
                        %a.th
                            =image_tag("drawing/feasor/Sunset.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/TheKeep_raw.JPG")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/TheKeep.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/RoadThroughBorWell.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Jacob.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Jacob_digitized.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/skyelo.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Darkness.png")
                %b Album: Feasor

            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            =image_tag("drawing/googlesketch/silos.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/HotelLobby.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/biotron.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/Bullet_Hole.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/nerrion.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/nethon.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/planet.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/Possion.png")
                %b Album: Google Sketch
