.row
    .small-12.small-centered.columns.container
        %h1 Drawing

        %p
            Drawing is challenging, but a rewarding experience.

        %ul.small-block-grid-2

            - src = "drawing/sketches/"
            - files = ["DSC00360.jpg","IMG_3546.jpg","IMG_3547.jpg","IMG_3548.jpg","IMG_3549.jpg","IMG_3550.jpg","IMG_3551.jpg","IMG_3552.jpg","IMG_3553.jpg","IMG_3554.jpg","IMG_3555.jpg","IMG_3556.jpg","IMG_3557.jpg"]
            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            = image_tag("#{src}DSC00358.jpg");

                    - files.each do |i|
                        %li
                            %a.th
                                = image_tag("#{src}#{i}")

            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li.clearing-featured-img
                        %a.th
                            =image_tag("drawing/googlesketch/silos.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/HotelLobby.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/biotron.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/Bullet_Hole.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/nerrion.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/nethon.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/planet.png")
                    %li
                        %a.th
                            =image_tag("drawing/googlesketch/Possion.png")

            %li
                %ul.clearing-thumbs.clearing-feature(data-clearing)
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Sunset_raw.jpg")
                    %li.clearing-featured-img
                        %a.th
                            =image_tag("drawing/feasor/Sunset.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/TheKeep_raw.JPG")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/TheKeep.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/RoadThroughBorWell.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Jacob.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Jacob_digitized.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/skyelo.jpg")
                    %li
                        %a.th
                            =image_tag("drawing/feasor/Darkness.png")
