.row.container

  .large-12.columns
    = link_to("Resume", "/doc/resume/Resume_Graphics_Trung_Le.pdf", :type => "application/pdf", :class => "button", :target => "_blank")
    = render 'layouts/contact'
    .announce.panel
      .fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-info.fa-border.fa-stack-1x.fa-inverse
      Update 03/22/16: My
      = link_to('presentation', 'https://www.youtube.com/watch?v=qAjWiVfR5Nw&t=38m31s', :target => '_blank')
      on
      = link_to('WebGL2 Samples Pack', 'https://github.com/WebGLSamples/WebGL2Samples', :target => '_blank')
      at Khronos event, GDC 2016

    %ul.example-orbit-content(data-orbit)
      %li(data-orbit-slide="SPHSolverCPP")
        %h1.right SPH Fluid Solver in C++
        %a(href="#{project_SPHSolverCPP_path(@project)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/SPHSolverCPP/render_full_angled.jpg")

      %li(data-orbit-slide="Apepi")
        %h1.right Apepi (Unreal)
        %a(href="#{game_apepi_path(@game)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/apepi/Screen+Shot+2016-04-10+at+9.56.36+PM.png")

      %li(data-orbit-slide="Carroll")
        %h1.right Carroll (C# in Unity, Best Design winner of PennApps 2016)
        %a(href="#{game_carroll_path(@game)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/carroll/Screen+Shot+2016-01-24+at+8.53.41+AM.png")

      %li(data-orbit-slide="Shires")
        %h1.right Shired (C# in Unity)
        %a(href="#{game_shires_path(@game)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/shires/shires_screenshot.png")

      %li(data-orbit-slide="Vietspeak")
        %h1.right Vietspeak (Javascript in Meteor)
        %a(href="#{game_vietspeak_path(@game)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/vietspeak/Vietspeak_1.png")

      %li(data-orbit-slide="PaintSpeaker")
        %h1.right Paint on speaker (FX in Houdini)
        %a(href="#{project_paintspeaker_path(@project)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/FX/paintspeaker/speaker_fluid_greenpaintspecular_whitelight_16.png")

      %li(data-orbit-slide="ClothTearing")
        %h1.right Cloth tearing (FX in Maya)
        %a(href="#{project_clothFX_path(@project)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/FX/man_cloth0072.jpg")

      %li(data-orbit-slide="Batmobile")
        %h1.right Batmobile (modeled in Maya)
        %a(href="#{static_page_3d_modeling_path(@static_page)}")
          %img(src="https://s3-us-west-2.amazonaws.com/trle/3d_modeling/tumbler_with_pan_2.png")

      / %li(data-orbit-slide="Pathtracer")
      /   %h1.right Pathtracer (C++)
      /   %img(src="https://s3-us-west-2.amazonaws.com/trle/graphics/pathtracer/rendered_images_18.bmp")

      %li(data-orbit-slide="Jawbone UP3")
        %h1.right Jawbone UP3 (Firmware)
        = image_tag("jawbone/up_colors.jpg")

      %li(data-orbit-slide="Moodbox")
        %h1.right Moodbox (Firmware + iOS)
        %a(href="#{project_moodbox_path(@project)}")
          = image_tag("moodbox/moodbox1.jpg")

  .large-12.columns

    %hr

    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2

      %li
        .sample-title
          = link_to("SPH Fluid Solver in C++", project_SPHSolverCPP_path(@project))
        .flex-video
          %iframe(src="https://www.youtube.com/embed/QeSkB5jceCE?&showinfo=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

      %li
        .sample-title
          = link_to("Apepi (Unreal)", game_apepi_path(@game))
        .flex-video
          %iframe(src="https://www.youtube.com/embed/go-dhytPoRg?&showinfo=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

      %li
        .sample-title
          = link_to("Carroll (C#, Unity)", game_carroll_path(@game))
        .flex-video
          %iframe(src="https://player.vimeo.com/video/152879062?&showinfo=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

      %li
        .sample-title
          = link_to("Shires (C#, Unity)", game_shires_path(@game))
        .flex-video
          %iframe(width="420" height="315" src="https://www.youtube.com/embed/DY3OcfuWLh8?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Vietspeak (Javascript, Meteor)", game_vietspeak_path(@game))
        .flex-video
          %iframe(width="560" height="315" src="https://www.youtube.com/embed/8StcVy9nJTc?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Assylium (Interactive fiction, C# in Unity)", game_assylium_path(@game))
        .flex-video
          %iframe(width="1280" height="720" src="//www.youtube.com/embed/YvpTCHYtgAs?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Village simulation (C#, Unity)", project_townsim_path(@project))
        .flex-video
          %iframe(width="560" height="315" src="//www.youtube.com/embed/eYErjPcPE4s?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Cloth tearing (FX in Maya)", project_clothFX_path(@project))
        .flex-video
          %iframe(width="560" height="315" src="https://www.youtube.com/embed/r4g2UaC0ghg?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Paint on speaker (FX in Houdini)", project_paintspeaker_path(@project))
        .flex-video
          %iframe(width="560" height="315" src="https://www.youtube.com/embed/SeOTMW4CqCU?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Particle monster (FX in Houdini)", project_particlemonster_path(@project))
        .flex-video
          %iframe(width="560" height="315" src="https://www.youtube.com/embed/s64rs3Mhn6o?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("3D Music Equalizer (C#, Unity)", project_fourierbound_path(@project))
        .flex-video
          %iframe(width="640" height="360" src="//www.youtube.com/embed/DR2Rh4Tj8Ns?&showinfo=0" frameborder="0" allowfullscreen)

      %li
        .sample-title
          = link_to("Seattle Indies", project_seattlecoop_path(@project))
        %a(href="#{project_seattlecoop_path(@project)}")
          = image_tag("seattlecoop/seattlecoop_9.jpeg")
