.row
    .row.container.small-10.small-centered.columns.container

        = render 'layouts/about'

        .resume-download
            = link_to("RESUME IN PDF", "/doc/resume/Resume_Graphics_Trung_Le.pdf", :type => "application/pdf", :class => "button", :target => "_blank")

        %h1.resume-section Interests
        .panel.resume-interests
            %p
                Computer Graphics, Game Technology & Scientific Simulation, Wearable Computing.

        .pad-10
        %h1.resume-section Skills
        .panel.resume-skills

            %ul
                %li
                    %b Graphics:
                    WebGL, OpenGL, rendering

                %li
                    %b Programming:
                    C/C++, Python, C#, Javascript, Objective-C

                %li
                    %b Software:
                    git, QT, Visual Studio, JIRA, Unity, Unreal, Maya, Houdini, iOS

                %li
                    %b Firmware:
                    ARM, FreeRTOS, I2C, SPI, USART, USB, BTLE, FPGA, AES, Verilog

        .pad-10
        %h1.resume-section Education
        .panel.resume-education
            %ul
                %li
                    .resume-date.label 2017
                    M.S.E Computer Graphics & Game Technology, University of Pennsylvania, PA

                %li
                    .resume-date.label 2012
                    B.S Electrical Engineering, University of Washington, WA

        .pad-10
        %h1.resume-section Invited talks

        .panel.resume-employment

            .resume-image
                = image_tag("http://images.anandtech.com/doci/7879/KhronosLogo_678x452.jpg", :size => "400")


            .resume-date.label 2016
            %h2.label
                = link_to('WebGL2 Samples Pack', 'https://github.com/WebGLSamples/WebGL2Samples', :target => '_blank')
            %p
                Khronos event, GDC 2016,
                = link_to('Presentation', 'https://www.youtube.com/watch?v=qAjWiVfR5Nw&t=38m31s', :target => '_blank')
            %p
                Speakers: Trung Le &
                = link_to('Shuai Shao', 'https://www.linkedin.com/in/shuai-shao-3718818b', :target => '_blank')

        .pad-10
        %h1.resume-section Experience

        .panel.resume-employment

            .resume-date.label 2016 - Present
            %h2.label
                Unity Programmer @
                = link_to("mLab", "http://mlab.seas.upenn.edu/", :target => "_blank")

            %p
                Designed gameplay and programmed game logic for xBlocks, an interactive embedded toy that enable players to navigate a digital world with physical block components.

        .panel.resume-employment

            .resume-date.label 2016 - Present
            %h2.label
                Teaching Assistant @
                = link_to("University of Pennsylvania", "http://www.cis.upenn.edu/~cis277/16sp/", :target => "_blank")

            %p
                Assisted with Intro to Interactive Graphics. Helped students understand concepts such as camera, transformations, skinning, OpenGL, shaders, and other introductory graphics concepts. This course contains significant C++ programming.

        .panel.resume-employment

            .resume-date.label 2012 - 2014
            %h2.label
                Software engineer @
                = link_to("Jawbone", "http://www.jawbone.com/", :target => "_blank")

            .resume-image
                = image_tag("jawbone/up_colors.jpg", :size => "400")

            %p
                Developed infrastructure and applications for the
                = link_to("UP3", "http://jawbone.com/store/buy/up3", :target => "_blank")
                fitness wristband on ARM Cortex and iOS platforms. This includes the BTLE protocol, authentication and encryption between device and mobile app, activity classification collection tools, peripheral drivers, USB interface, and UX.

            %p
                My interest in working with embedded system led me to take a position at Jawbone where I joined the firmware team developing the UP3 fitness wristband. Jawbone was successful at combining upscale fashion (lead designer Yves Behar and his
                = link_to("thoughts", "https://jawbone.com/blog/up3-design-story/", :target => "_blank")
                about designing UP) with the latest technology to set a new bar for the industry.


        .panel.resume-research

            .resume-date.label 2010 - 2012
            %h2.label
                Research Assistant @
                = link_to("University of Washington Sensor Lab", "http://sensor.cs.washington.edu/", :target => "_blank")
                and Seattle Intel Lab

            .resume-image
                = image_tag("wrel/wrel-bulb.jpg")

            %p
                Designed a GUI with Python QT for the systems used in Wireless Resonant Energy Link (WREL)
                research. The software supports data collection, data visualization, wireless control, and power diagnostics. Over the years, the software has been forked and extended for use in other research and at startup company Wibotic.

        .panel.resume-employment

            .resume-date.label 2012
            %h2.label
                Teaching Assistant @
                = link_to("CS Department, University of Washington", "http://www.cs.washington.edu/", :target => "_blank")

            .resume-image
                = image_tag("cse352/CSE352_banner.png")

            %p
                Assisted with the intro to hardware course. Held lab sections, prepared class materials and assignments, administrated the course website, completed grading, and held office hours. The course materials taught Verilog to build Y86-CPUs on a FPGA.

            / %p
            /     This was undergraduate teaching assistant position for the introductory hardware design course (CSE352) at UW, under Professor Mark Oskin. I learned quickly that I had to understand the materials beyond the context of textbooks and assignments, so I researched additional materials in parallel with the lessons in class. Since I was mainly in charge of running the lab sections, I got to spend time with different ways to complete the lab assignments - usually a writing of Verilog for different modules that were eventually put together into a RISC computer on a FPGA - to prepare for troubleshooting and explaining questions later when the students arrived. Every question asked was an opportunity for me to test my knowledge of RISC, Verilog and FPGA in depth, and I found teaching rewarding. 


        .panel.resume-employment

            .resume-date.label 2011
            %h2.label
                Software Intern @
                = link_to("Genie Industries", "http://www.genielift.com/", :target => "_blank")
                , Redmond WA

            .resume-image
                = image_tag("genie/genie_stadium.jpg", :size => "400")

            %p
                Developed a new control system for hydraulic scissor lifts at Genie's R&D group. Programmed with Javascript, C++ and Rhapsody. Performed mechanical quality assurance testing.

        .panel.resume-employment

            .resume-date.label 2010
            %h2.label
                Software Intern @
                = link_to("Mindbloom", "http://www.mindbloom.com/", :target => "_blank")
                , Seattle WA

            .resume-image
                = image_tag("mindbloom/banner.jpg", :size => '400')

            %p
                Developed quality assurance test suites for a set of social health games for Mindbloom.

        .pad-10
        %h1.resume-section Others
        .panel.resume-curriculums
            %ul
                %li 3rd Trombone, University of Washington’s Husky Marching Band from 2008-2010.
                %li Organizer, Seattle Indies’s tabletop game design meetups from 2013-2014.
                %li Seattle Rock & Roll half marathon 2013.
