.row
    .small-10.small-centered.columns.container
        %h1 Apepi

        %p
            Apepi is an inifinite runner in a gorgeous world. The objective of the game is to chase the sun and and capture "sun stuff", shiny missing pieces of the sun to prevent the sun from being swallowed by darkness. The game was built in 24 hours using Unreal Engine and custom arts created in Maya.

        %p
            Apepi won Best Art at Penn Play 2016, a game jam at for students at University of Pennsylvania. We're working putting together a final build for different platforms.

        .flex-video
            %iframe(width="560" height="315" src="https://www.youtube.com/embed/go-dhytPoRg?&showinfo=0" frameborder="0" allowfullscreen)

        %ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2.clearing-thumbs(data-clearing)
            - paths = ["https://s3-us-west-2.amazonaws.com/trle/apepi/Screen+Shot+2016-04-10+at+9.56.36+PM.png", "https://s3-us-west-2.amazonaws.com/trle/apepi/Screen+Shot+2016-04-10+at+9.57.06+PM.png", "https://s3-us-west-2.amazonaws.com/trle/apepi/Screen+Shot+2016-04-10+at+9.57.25+PM.png", "https://s3-us-west-2.amazonaws.com/trle/apepi/Screenshot+2016-04-03+11.58.19.png", "https://s3-us-west-2.amazonaws.com/trle/apepi/Screenshot+2016-04-03+11.58.37.png", "https://s3-us-west-2.amazonaws.com/trle/apepi/Screenshot+2016-04-03+11.58.52.png"]

            - paths.each do |path|
                %li
                    %a.th
                        = image_tag("#{path}")

        %h1 Team members

        %ul
            %li
                = link_to("Reika Yoshino", "http://www.reikayoshino.com/", :target => "_blank")
                , Original creator, Art Assets

            %li
                = link_to("Irem Öz", "https://www.linkedin.com/in/irem-öz-19772544/en", :target => "_blank")
                , Visual Effects, Materials.

            %li
                = link_to("Trung Le", "http://www.trungtuanle.com/", :target => "_blank")
                , Gameplay Programming

            %li
                = link_to("Akshay Shah", "https://www.linkedin.com/in/akshaymshah", :target => "_blank")
                , Rendering, Lighting
