.row
    .small-12.small-centered.columns.container
        .panel
            %h1 Capstone project: Wireless charging drone station

            %p1.black
                This was one of my capstone projects in undergraduate. We built a docking station
                for a quadra-copter to wirelessly charge its battery when low (I've lost the video
                archiving our process unfortunately).

            .pad-10

            = link_to("report", "/doc/wrad/WRAD.pdf", :target => "_blank", :class => "button")

            = link_to("brochure", "/doc/wrad/WRADBrochure.pdf", :target => "_blank", :class => "button")

            = link_to("presentation", "/doc/wrad/CSE477db.pdf", :target => "_blank", :class => "button")

            %ul.small-block-grid-2
                %li
                    = image_tag("wrad/0426111648-01.jpg")
                %li
                    = image_tag("wrad/IMG_1336.JPG")
                %li
                    = image_tag("wrad/IMG_1334.JPG")
                %li
                    = image_tag("wrad/IMG_1277.JPG")
                %li
                    = image_tag("wrad/0515111746-01.jpg")
                %li
                    = image_tag("wrad/IMG_1281.JPG")


        .panel

            %h1 CSE352 Website

            %p
                = image_tag("cse352/CSE352_banner.png")

            %p
                While working as an undergraduate teaching assistant, I tried to learn some web programming using Javascript, PHP and HTML (that was before Rails was popular).
                The website was used as the class's official online space, so I had a good time being the web admin and getting students' feedback to improve it.
            %p
                = link_to("website", "http://courses.cs.washington.edu/courses/cse352/12sp/", :target => "_blank", :class => "button")

        .panel

            %h1 DDR for fingers

            %p
                This is a DDR simulation, using an LED matrix and buttons as user input. The direction is up.
                When an LED turns yellow, player must press the corresponding button for the collumn to earn points.
                If the note reaches the last row and turn red, points are taken.

            %p
                This was done using a FPGA and a LED matrix

            %iframe(width="560" height="315" src="http://www.youtube.com/embed/5dM9S2hc8Nk" frameborder="0" allowfullscreen)

        .panel
            %h1 Medicine dispenser

            %p
                This is a prototype of a medicine dispenser. I got the idea from
                = link_to("instructable", "http://www.instructables.com/id/The-Automatic-Medication-Dispencer/", :target => "_blank")
                by user janw and it was pretty fun to work on.
                However, due to our dispencing mechanics, there was only one type of tablets that could be used for it, so it wasn't
                very useful in the end.

            %iframe(width="560" height="315" src="http://www.youtube.com/embed/rysgOPCh1Ww" frameborder="0" allowfullscreen)
            .pad-10
