.row
    .small-10.small-centered.columns.container
        %h1 Mood Box

        %p
            %em "Moodbox creates a visceral experience to either reflect or manipulate your mood. Tell it how you feel or want to feel, and let Moodbox create your environment, curating music and light."

        %p
            I developed the iOS app and wifi interface with Philips HUE lights. The project
            was submitted for a 48-hour startup competition at
            %a{:href => "https://www.facebook.com/swseamaker?ref=stream&hc_location=stream"} Seattle Startup Weekend Maker Edition.
            Moodbox was led by Kyle Kesterson, founder of the Seattle startup
            %a{:href => "http://www.freakngenius.com/"} Freak'n Genius.

        .pad-10
        %ul(data-orbit)
            %li
                = image_tag("moodbox/moodbox_logo.jpg")
            %li
                = image_tag("moodbox/moodbox1.jpg")
            %li
                = image_tag("moodbox/moodbox2.jpg")
            %li
                = image_tag("moodbox/moodbox4.jpg")
            %li
                = image_tag("moodbox/mb5.jpg")
            %li
                = image_tag("moodbox/mb6.jpg")
            %li
                = image_tag("moodbox/mb7.jpg")
            %li
                = image_tag("moodbox/mb8.jpg")
            %li
                = image_tag("moodbox/mb9.jpg")
            %li
                = image_tag("moodbox/mb10.jpg")
            %li
                = image_tag("moodbox/mb11.jpg")
            %li
                = image_tag("moodbox/mb12.jpg")
            %li
                = image_tag("moodbox/mb13.jpg")
            %li
                = image_tag("moodbox/mb14.jpg")

        .pad-10

        %p Video: Moodbox in action (click on view to play - for some reason there's no preview thumbnail)
        .flex-video
            %iframe(src="https://www.facebook.com/video/embed?video_id=10151707650759828" width="800" height="600" frameborder="0")
        .row(data-equalizer)
            .large-4.columns.panel(data-equalizer-watch)
                %h2
                    Software
                %p
                    iOS 7.0
            .large-4.columns.panel(data-equalizer-watch)
                %h2
                    Hardware
                %ul.spec
                    %li
                        %a{:href => "https://www.meethue.com/en-US", :target => "_blank"} Philips Hue
                    %li
                        %a{:href => "http://www.raspberrypi.org/", :target => "_blank"} Raspberry Pi
                    %li
                        = link_to("Jambox", "https://jawbone.com/speakers/jambox", :target => "_blank")
            .large-4.columns.panel(data-equalizer-watch)
                %h2
                    Mechanical part
                %p Custom Design box