.row
  .small-10.small-centered.columns.container

    %h1 WebGL2 Samples Pack

    %a.button(href="https://github.com/WebGLSamples/WebGL2Samples/")
      %i.fa.fa-github
      Github

    %p
      Short and easy to understand samples demonstrating WebGL 2 features by
      = link_to('Shuai Shao (Shrek)', 'https://www.linkedin.com/in/shuai-shao-3718818b', :target => '_blank')
      and me. Advised by
      = link_to('Patrick Cozzi', 'http://www.seas.upenn.edu/~pcozzi/', :target => '_blank')
      , University of Pennsylvania.

    %p
      Inspired by and ported from Christophe Riccio's
      = link_to('(@Groovounet)', 'https://github.com/Groovounet', :target => '_blank')
      = link_to('OpenGL Samples Pack.', 'https://github.com/g-truc/ogl-samples', :target => '_blank')

    %p
      I presented this project with Shuai Shao at the
      = link_to('Khronos Event at GDC 2016.', 'https://www.khronos.org/news/events/2016-khronos-sessions-san-francisco')
      The presentation starts at 38:31

    .flex-video
      %iframe(width="560" height="315" src="https://www.youtube.com/embed/qAjWiVfR5Nw" frameborder="0" allowfullscreen)
