.row
  .large-12.columns
    %nav.top-bar(data-topbar)
      %ul.title-area
        %li.name
          %h1
            = link_to("Trung Le", static_page_index_path(@static_page))

        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a(href="#")
            %span Menu

      %section.top-bar-section

        %ul
          %li
            = link_to("Resume", static_page_resume_path(@static_page))
          %li
            = link_to("Master Thesis", static_page_masterThesis_path(@static_page))
          %li
            = link_to("Unreal VR Editor", project_VREditor_path(@project))
          %li.has-dropdown
            %a Graphics
            %ul.dropdown
              %li
                = link_to("Vulkan Hybrid Ray-Raster", "https://github.com/trungtle/FinalProject-HybridRenderer")
              %li
                = link_to("CUDA Path Tracer", "https://github.com/trungtle/Project3-CUDA-Path-Tracer")
              %li
                = link_to("CUDA Rasterizer", "https://github.com/trungtle/Project4-CUDA-Rasterizer")
              %li
                = link_to("WebGL Tile-based Deferred Rendering", "https://github.com/trungtle/Project5-WebGL-Deferred-Shading-with-glTF")
              %li
                = link_to("WebGL2 Samples Pack", project_webgl2samplespack_path(@project))
              %li
                = link_to("SPH FLuid Solver", project_SPHSolverCPP_path(@project))
              / %li
              /   = link_to("Real time fracturing tool for Unity", project_realtimefractureUnity_path(@project))
              / %li
              /   = link_to("Paint on speaker", project_paintspeaker_path(@project))
              / %li
              /   = link_to("Cloth figure tearing", project_clothFX_path(@project))
              / %li
              /   = link_to("Particle monster", project_particlemonster_path(@project))
              / %li
              /   = link_to("Rifted", project_rifted_path(@project))
              / %li
              /   = link_to("Medieval town simulation", project_townsim_path(@project))
              / %li
              /   = link_to("Fourierbound", project_fourierbound_path(@project))
              / %li
              /   = link_to("3D Modeling", static_page_3d_modeling_path(@static_page))
          %li.has-dropdown
            %a Games
            %ul.dropdown
              %li
                = link_to("Project Em", game_projectEm_path(@game))
              %li
                = link_to("Apepi", game_apepi_path(@game))
              %li
                = link_to("Carroll", game_carroll_path(@game))
              %li
                = link_to("Vietspeak", game_vietspeak_path(@game))
              %li
                = link_to("Shires", game_shires_path(@game))
              / %li
              /   = link_to("Assylium", game_assylium_path(@game))
              / %li
              /   = link_to("Watercube", game_watercube_webplayer_path(@game))

          / %li.has-dropdown
          /   %a Firmware
          /   %ul.dropdown
          /     %li
          /       = link_to("Moodbox", project_moodbox_path(@project))
          /     %li
          /       = link_to("Wireless energy", project_wrel_path(@project))
          /     %li
          /       = link_to("Undergraduate", project_collegeee_path(@project))
          %li
            = link_to("Seattle Indies", project_seattlecoop_path(@project))

          / %li.has-dropdown
          /   %a Blog
          /   %ul.dropdown
          /     %li
          /       %a{:href => "http://apassingroad.wordpress.com/", :target => "_blank"}A passing road
          /     %li
          /       %a{:href => "https://cluesandcodes.wordpress.com/", :target => "_blank" }Clues & codes
          /     %li
          /       %a{:href => "http://feasorthegame.blogspot.com/", :target => "_blank"}Feasor game journal
