%nav.top-bar(data-topbar)
    %ul.title-area
        %li.name
            %h1
                = link_to("Trung Le", static_page_index_path(@static_page))

        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
            %a(href="#")
                %span Menu

    %section.top-bar-section

        / Right Nav Section
        %ul.left
            %li
                = link_to("Resume", static_page_resume_path(@static_page))
            %li.has-dropdown
                %a(href="#")EE/CS
                %ul.dropdown
                    %li
                        = link_to("Moodbox", project_moodbox_path(@project))
                    %li
                        = link_to("Wireless energy", project_wrel_path(@project))
                    %li
                        = link_to("Fourierbound", project_fourierbound_path(@project))
                    %li
                        = link_to("Undergraduate", project_collegeee_path(@project))
            %li.has-dropdown
                %a(href="#")Games
                %ul.dropdown
                    %li
                        = link_to("Local chicken", game_petevstom_path(@game))
                    %li
                        = link_to("Desiderata", game_desiderata_path(@game))
                    %li
                        = link_to("Watercube", game_watercube_webplayer_path(@game))
                    %li
                        = link_to("Feasor", game_feasor_path(@game))
            %li
                = link_to("Drawing", static_page_drawing_path(@static_page))
            %li.has-dropdown
                %a(href="#")Writing
                %ul.dropdown
                    %li
                        %a{:href => "http://apassingroad.wordpress.com/", :target => "_blank"}a passing road (Creative writing)
                    %li
                        %a{:href => "https://cluesandcodes.wordpress.com/", :target => "_blank" }clues & codes (Personal)

